
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

echo "auth.json" >> .gitignore
echo "**/auth.json" >> .gitignore
echo "**/storageState.json" >> .gitignore
